/* === === === Boilerplate Reset === === === */

* {
  box-sizing: border-box;
  margin: 0;
}

/* === === === Header content === === === */

h1,
h2,
header > p {
  text-align: center;
}

/* === === === Main content === === === */

/* === === === Footer content === === ===  */
