/* === === === Boilerplate Reset === === === */

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

/* === === === Header content === === === */

h1,
h2,
header > p {
  text-align: center;
}

/* === === === Main content === === === */

.countdown-box {
  background-color: lightblue;
}
/* === === === Footer content === === ===  */
