/* === === === Boilerplate Reset === === === */

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: normal;

  /* TODO: Not happy with this font */
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

/* === === === Header content === === === */

h1,
h2,
header > p {
  text-align: center;
}

/* === === === Main content === === === */

.countdown-box {
  background-color: lightblue;
}
/* === === === Footer content === === ===  */

footer {
  background-color: lightblue;
}
